
a:link,
a:visited {
  background-color: grey;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  font-weight: bold;

}

.bcolor {
  background-color:rgb(241, 241, 243);
}

.lineh{
  line-height: 10px;
}

a:hover,
a:active {
  background-color: blue;
}

li.distance {
  margin-top: 10px;
  margin-bottom: 10px;
}

.block {
  display: inline-block;
  max-width: 300px;
}
