a:link,
input,
a:visited {
    background-color: grey;
    color: white;
    /* padding: 10px 20px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    font-weight: bold;

}

.bcolor {
    background-color: rgb(241, 241, 243);
}

.lineh {
    line-height: 10px;
}

a:hover,
a:active {
    background-color: gray;
}

li.distance {
    margin-top: 10px;
    margin-bottom: 10px;
}

.block {
    display: inline-block;
    max-width: 300px;
}

#myCalendar {
    display: none
}

.boxmen {
    width: 100%;
    text-align: center;
    padding-top:10px;padding-bottom: 10px;
}
.arrowRight {
    float:right;padding-right: 10px;
}

.bckColorTxt {
    background-color: rgb(255, 212, 155);padding: 0.5%;
}
.bckColorFrame {
    padding:20px;background-color: rgb(219, 225, 219);
}
.videoDistance {
    margin:15px 0 15px 0
}
